# 7 For Loops

Solutions

1. Write a Python program to print the following pattern.

        1 2 3 4 5
        1 2 3 4 
        1 2 3
        1 2
        1

To print the pattern first count the rows

There are 5 rows store it in a variable.

In [ ]:
n = 6

use two for loops to print the pattern

One for loop for printing rows\
Another for printing numbers in columns

In [ ]:
# rows
for i in range(n,1, -1):
    
    # columns
    for j in range(1, i):
        print(j, end=" ")

    # print new line after each row
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

2. Write a Python program to find the sum of all the numbers except odd numbers between 1 to 20 using a loop. Can you also do this using a while loop?

In [ ]:
# using for loop

sum_ = 0
for num in range(1, 21):
    if num % 2 != 0:
        continue
    else:
        sum_ = sum_ + num

In [ ]:
print(sum_)

110

In [ ]:
# Method 2

sum_ = 0
for num in range(1,21):
    if num%2 ==0:
        sum_ = sum_ + num
        # sum_ += num

print(sum_)

110

In [ ]:
# Using While loop

sum_ = 0
num = 1
while num <= 20:

    if num %2 ==0:
        sum_ += num
    
    num = num + 1

print(sum_)

110

### 3. After throwing the dice several times, you got this result,
	dice_result  = [5,6,4,2,5,4,4,5,3,3,2,6,1,2,1,1,6,5]

Using a for loop find out the followings:

+ How many times you got 6s
+ How many times you got 1s
+ How many times you got 6s two times in row

In [ ]:
dice_result  = [5,6,4,2,5,4,4,5,3,3,2,6,1,2,1,1,6,5]
dice_result

[5, 6, 4, 2, 5, 4, 4, 5, 3, 3, 2, 6, 1, 2, 1, 1, 6, 5]

#### Count 6s

In [ ]:
sixes = 0
for n in dice_result:
    if n==6:
        sixes += 1

print(sixes)

3

#### Count 1s

In [ ]:
ones = 0
for n in dice_result:
    if n==1:
        ones += 1

print(ones)

3

#### Counting 2 sixes in a row

In [ ]:
two_6s = 0
l = len(dice_result)

for i in range(l - 1):
    if dice_result[i] == 6 and dice_result[i+1] == 6:
        two_6s += 1

print(two_6s)

0