# 9 Dictionary and Tuples

Excercise Solution

### 1. Create a list of your friend’s name and now create a list of tuples. The tuple should contain the friend’s name and length of the name. For Example: if someone’s name is Aditya, the tuple would be: (‘Aditya’, 6)

In [ ]:
def list_of_tuples(friends_list):
    new_list = []
    for friend in friends_list:
        friend_tuple = (friend, len(friend))
        new_list.append(friend_tuple)

    return new_list

In [ ]:
friends = ['Ajay', 'Akash', 'Sanjana', 'Sudhir', 'Vijay Kumar']
list_of_tuples(friends)

[('Ajay', 4), ('Akash', 5), ('Sanjana', 7), ('Sudhir', 6), ('Vijay Kumar', 11)]

In [ ]:
list_of_tuples(['Vivek', 'Raj', 'James'])

[('Vivek', 5), ('Raj', 3), ('James', 5)]

### 2.  You and your wife argued upon expenses last night. You both want to know who is spending more in a month. Now you both go to the Little Yoda he is a good python programmer, he suggested both of you to add an entry in a dictionary when next time you spent money. So that you can have clear picture about your expenses and plan to reduce it. Both dictionaries are as below-
Your expenses - 

* Clothes - 1100
* Shoes - 1000
* Watch - 900
* Mobile Recharge - 699
* Petrol - 1980

Your Wife’s expenses - 
* Mobile Recharge - 799
* DTH recharge - 999
* Clothes - 2310
* Makeup - 3670
* Shoes - 999

A) Find out total expenses of each of you.\
B) Find out who spending more\
C) Find out in which thing you and your wife spending more

In [ ]:
my_expenses = dict()
wife_expenses = dict()

In [ ]:
# adding data to the dictionaries
my_expenses['Clothes'] = 100
my_expenses['Shoes'] = 1000
my_expenses['Watch'] = 900
my_expenses['Mobile Recharge'] = 699
my_expenses['Petrol'] = 1980

In [ ]:
wife_expenses.update({
    "Mobile Recharge" : 799,
    "DTH recharge" : 999,
    "Clothes" : 2310,
    "Makeup" : 3670,
    "Shoes" : 999
})

In [ ]:
my_expenses

{'Clothes': 100,
 'Mobile Recharge': 699,
 'Petrol': 1980,
 'Shoes': 1000,
 'Watch': 900}

In [ ]:
wife_expenses

{'Clothes': 2310,
 'DTH recharge': 999,
 'Makeup': 3670,
 'Mobile Recharge': 799,
 'Shoes': 999}

In [ ]:
# little Yoda's Analysis

# finding total expenses
total = 0
for key in my_expenses:
    total += my_expenses[key]

my_expenses['Total'] = total

In [ ]:
total = 0
for key in wife_expenses:
    total += wife_expenses[key]

wife_expenses['Total'] = total

In [ ]:
print(f"Your Total Expenses are: {my_expenses['Total']}")

Your Total Expenses are: 4679

In [ ]:
print(f"Your Wife's Total Expenses are: {wife_expenses['Total']}")

Your Wife's Total Expenses are: 8777

In [ ]:
total = my_expenses['Total'] + wife_expenses['Total']
print(f"Both's Total Expenses are: {total}")

Both's Total Expenses are: 13456

In [ ]:
# B. Finding who spend more
if my_expenses['Total'] > wife_expenses['Total']:
    print("You spent more than your wife.")
else:
    print("Your wife spent more than you")

Your wife spent more than you

In [ ]:
# c. finding expensive thing
# If we can sort the dictionary in increasing order or decreasing order
# we can find it easily

def sort_the_dict(dictionary):
    # because we need to sord the dictionary according to the values
    sorted_dict = sorted(dictionary.items(), key=lambda kv:kv[1])
    
    return sorted_dict

In [ ]:
sort_the_dict(my_expenses)

[('Clothes', 100),
 ('Mobile Recharge', 699),
 ('Watch', 900),
 ('Shoes', 1000),
 ('Petrol', 1980),
 ('Total', 4679)]

In [ ]:
sort_the_dict(wife_expenses)

[('Mobile Recharge', 799),
 ('DTH recharge', 999),
 ('Shoes', 999),
 ('Clothes', 2310),
 ('Makeup', 3670),
 ('Total', 8777)]

Because last element will always be the total so we have to print the second last element

In [ ]:
print("You spent more on: ")
sort_the_dict(my_expenses)[-2]

You spent more on:

('Petrol', 1980)

In [ ]:
print("Your wife spent more on: ")
sort_the_dict(wife_expenses)[-2]

Your wife spent more on:

('Makeup', 3670)

#### Little Yoda's Words:

Looks like you love **travelling** and your wife loves **Make-up**. Because Both of you are spending more on *Petrol* and *Make Up*

You need to do less spending in these two

Thank You,

Happy Coding!