<h3 style='color:blue'>Tuples</h3>

We looked at lists in previous lectures. Lists store values of similar concept. i.e. in below list every number is an expense

In [4]:
expenses=[1200,1400,1700]

But what if you want to store two different concepts in a sequential manner? For example say you want to store a two dimensional point representing values of X and Y cordinate? You can use list but more appropriate way to represent this would be a tuple

In [5]:
point=(5,6)

In [6]:
point[0]

5

In [8]:
point[1]=7

TypeError: 'tuple' object does not support item assignment

Once you initialize tuples you can not change its values. i.e. Tuples are immutable. Lists can grow dynamically whereas tuples have a fixed size hence they are more memory efficient

Tuples can have any number of values. It doesn't have to be only two values

In [10]:
point_3d = (5,8,10)

Tuples are useful when you want to return multiple values from a function

In [11]:
def find_pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [12]:
pe_ratio, pb_ratio = find_pe_and_pb(100, 2, 4)

In [13]:
pe_ratio, pb_ratio

(50.0, 25.0)

<h3 style='color:blue'>Dictionary</h3>

Let's say you want to write a python program that can store phone numbers. Here you will have name of the person and a phone number. Say you have following people and their phone numbers,

rachel => 8887771111
monica => 9195675555
joey => 3332229999

One way to store this information is using a list of tuples as shown below,

In [14]:
contacts = [('rachel',8887771111), ('monica',9195675555), ('joey',3332229999)]

But here when you want to search for a phone number of a specific person you will have to run a for loop and search the records sequentially

In [15]:
for contact in contacts:
    if contact[0]=='joey':
        print(contact[1])

3332229999

If list is very long say 10000 elements and element you are looking for is at the end, you would have now done 10000 iterations in the loop which is not efficient. In terms of memory complexity this is O(n)

**Refer to codebasics youtube channel for this video: https://www.youtube.com/watch?v=IR_S8BC8KI0 to get understanding on Big O notation for measuring complexity**

There is a better data structure called dictionary that allows you to search for an element in Big O(1) (or constant time complexity). Now we will define a python dictionary

In [16]:
d = {
    'rachel': 8887771111,
    'monica': 9195675555,
    'joey': 3332229999
}

In [17]:
d['joey']

3332229999

Accessing an element in a dictionary by a key is very fast (i.e. O(1) or constant time complexity).
Now what happens if you try to access an elementby a key that doesn't exist in a dictionary

In [18]:
d['satya']

KeyError: 'satya'

You can use get function which returns None if the element doesn't exist

In [19]:
d.get('satya')

**Change value of existing element**

In [20]:
d['rachel']

8887771111

In [21]:
d['rachel']=1112568888
d['rachel']

1112568888

**Add new element**

In [22]:
d['satya']=2228764555
d

{'rachel': 1112568888,
 'monica': 9195675555,
 'joey': 3332229999,
 'satya': 2228764555}

**Delete an element**

In [23]:
del d['satya']
d

{'rachel': 1112568888, 'monica': 9195675555, 'joey': 3332229999}

**in operator**

In [24]:
'abdul' in d

False

In [25]:
'rachel' in d

True

**Dictionary can store any data type as its value. Below the value in the dictionary is another dictionary**

In [26]:
contact_dict = {
    'rachel' : { 'phone': 1234, 'address': '1 blue st' },
    'joey' : { 'phone': 999, 'address': '7 newton blvd' }
}

In [27]:
contact_dict['rachel']['address']

'1 blue st'

In [28]:
contact_dict['rachel']['phone']

1234

**Iterate through every element and print their values**

In [29]:
for name in d:
    print(name, d[name])

rachel 1112568888
monica 9195675555
joey 3332229999

In [30]:
for name, number in d.items():
    print(name, number)

rachel 1112568888
monica 9195675555
joey 3332229999

**Get only keys or only values**

In [31]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [32]:
d.keys()

dict_keys(['rachel', 'monica', 'joey'])

In [33]:
d.values()

dict_values([1112568888, 9195675555, 3332229999])