<h3 style="color:purple">String introduction and index operator</h3>

In [31]:
first = "Mohan"
last = "Sharma"

In [32]:
type(first)

str

In [33]:
name = first + " " + last
name

'Mohan Sharma'

In [34]:
name = f'{first} {last}'
name

'Mohan Sharma'

In [35]:
name[0]

'M'

In [36]:
name[1]

'o'

In [37]:
name[0:5]

'Mohan'

In [38]:
name[6:]

'Sharma'

In [39]:
name[-1]

'a'

In [40]:
name[-6:]

'Sharma'

In [41]:
name[11]

'a'

In [42]:
name[12]

IndexError: string index out of range

In [43]:
len(name)

12

<h3 style="color:purple">in operator</h3>

In [44]:
my_food = "samosa,jalebi"

In [45]:
'samosa' in my_food

True

In [46]:
'pasta' in my_food

False

In [47]:
'pasta' not in my_food

True

<h3 style="color:purple">single vs double vs tripple quotes</h3>

In [48]:
my_food = 'samosa,jalebi'

In [49]:
food_story = "dhaval's favourite food is banana"
s = 'he said "oops"'
s

'he said "oops"'

In [50]:
food_review = '''I was forced to do fast after seeing food in my plate in this amazing restaurant. 
You know what they are known for? They help people maintain the weight!
'''

In [51]:
food_review

'I was forced to do fast after seeing food in my plate in this amazing restaurant. \nYou know what they are known for? They help people maintain the weight!\n'

<h3 style="color:purple">Some useful functions: replace, upper, lower, str, index, isdigit etc</h3>

In [52]:
s = "patient was charged 100$ for lab test"
s

'patient was charged 100$ for lab test'

In [53]:
s = s.replace("100$","50$")
s

'patient was charged 50$ for lab test'

In [54]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [55]:
s.upper()

'PATIENT WAS CHARGED 50$ FOR LAB TEST'

In [56]:
'410'.isdigit()

True

In [57]:
'410a'.isdigit()

False

In [58]:
s

'patient was charged 50$ for lab test'

In [59]:
s.index('was')

8

In [60]:
age=38
text="my age is:"
text+age

TypeError: can only concatenate str (not "int") to str

In [61]:
age

38

In [62]:
str(age)

'38'

In [63]:
text+str(age)

'my age is:38'

<h3 style="color:purple">Python format strings: a.k.a f strings and special characters: \n \t</h3>

In [65]:
height = 65
weight = 75

In [66]:
patient_information = f"Height: {height} cm, Weight: {weight} kg"
patient_information

'Height: 65 cm, Weight: 75 kg'

In [67]:
patient_information = f"Height: {height} cm\nWeight: {weight} kg"
print(patient_information)

Height: 65 cm
Weight: 75 kg

In [68]:
s="hey\tbro"
print(s)

hey	bro