In [1]:
n=input("Enter a number")

Enter a number10

In [2]:
n

'10'

In [3]:
n=int(n)
n

10

In [4]:
if n%2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Number is even

<h3 style="color:purple">Conditional operators for if condition</h3>

In [5]:
3==3

True

In [6]:
3==4

False

In [7]:
10>9

True

In [8]:
4<4

False

In [9]:
4==4

True

In [10]:
not 4==4

False

In [11]:
4<=4

True

Find if number is more than 10 and also even

In [14]:
n=8
if n > 10 and n%2==0:
    print("Yay")
else:
    print("Nope")

Nope

<h3 style="color:purple">Write code that takes dish name as input and tells you which cuisine it is</h3>

In [15]:
mexican = ["taco","enchilada","burrito"]
italian = ["pasta","ravioli","pizza"]
indian = ["biryani","samosa","curry"]

In [18]:
dish = input("Enter a dish name")

Enter a dish nameasdf

In [20]:
if dish in mexican:
    print(f"{dish} is mexican")
elif dish in italian:
    print(f"{dish} is italian")
elif dish in indian:
    print(f"{dish} is indian")
else:
    print(f"not sure which cuisine is {dish}")

not sure which cuisine is asdf

<h3 style="color:purple">Ternary operator</h3>

In [23]:
n=1
message = "Number is even" if n%2==0 else "Number is odd"
message

'Number is odd'